{% extends 'layout.html' %}

{% block content %}
  
  <div class="wrapper">
    <h1 class="animate--down">Ready.</h1>
  </div>

  <a href="{{playlistURI}}" class="btn btn--banner animate--up">Enjoy at Spotify</a>
  
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelector('html').classList.add('blurred');
    }, false);
  </script>

  <script type="text/javascript">
    var username = '{{ user.username }}';
    var http = new XMLHttpRequest();
    
    if('Android' in window) {
      var id = Android.getID();
      var henrik = Android.getHenrik();
      Android.startLocationService();
      console.log(henrik);
      var jsonShit = JSON.parse(henrik);
      console.log(jsonShit.lat);

      var params = 'phoneId=' + id;

      http.open('POST', '/users/' + username + '/setPhoneId', true);
      http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      http.send(params);

    } else {
      
      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        console.log('Failed to send geolocation')
      }
      
      function sendLocation(position) {
          var lat = position.coords.latitude;
          var lon = position.coords.longitude;
          
          var params = 'lon=' + lon +
            "lat="+ lat;
          
          http.open('POST', '/users/' + username + '/updateLocation', true);
          http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
          http.send(params);
          
      }
      
    }
  </script>
{% endblock %}
