{% extends 'layout.html' %}

{% block content %}
  
  <div class="wrapper">
    <h1 class="animate--down">Ready.</h1>
  </div>

  <a href="{{playlistURI}}" class="btn btn--banner animate--up">Enjoy at Spotify</a>
  
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelector('html').classList.add('blurred');
    }, false);
  </script>

  <script type="text/javascript">
    // if('Android' in window) {
      var id = Android.getID();
      var henrik = Android.getHenrik();
      Android.startLocationService();
      var username = '{{ user.username }}';
      var http = new XMLHttpRequest();
      console.log(henrik);
      var jsonShit = JSON.parse(henrik);
      console.log(jsonShit.lat);
      var params = 'phoneId=' + id+'&lat='+jsonShit.lat+'&lon='+jsonShit.lon;
      
      http.open('POST', '/users/' + username + '/setPhoneId', true);
      http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      http.send(params);

    // }
  </script>
{% endblock %}
